/*button styles*/
.normal-buttons {
    -fx-background-color: indianred;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 15px 20px;
    -fx-background-radius: 5px;
}

/*navigation buttons for navsidebar*/
.navigation-buttons {
	-fx-font: 20 arial; 
	-fx-padding:10px;
}

/*labels for the starthelp page*/
.starthelp-labels{
	-fx-font: 20 arial;
}

/*logo style for header*/
#logo{
	-fx-font: 46 Stencil;
}